<div class="box">
  <form action="/search" method="get" data-turbo="false">
    <div class="field has-addons">
      <div class="control">
        <button class="button is-primary" type="submit">
          <span class="icon is-small">
            <i class="fas fa-search"></i> <!-- Assuming you are using FontAwesome -->
          </span>
        </button>
      </div>

      <div class="control is-expanded">
        <input class="input" type="text" name="query" value="<%= query %>" placeholder="Type to search...">
      </div>
    </div>

    <div class="columns is-mobile is-vcentered">
      <div class="column">
        <div class="field">
          <div class="control">
            <div class="select is-fullwidth">
              <select name="council_id">
                <option value="">-- (Optional) Select a council --</option>
                <% Council.all.order(name: :asc).each do |council| %>
                  <option value="<%= council.id %>" <% if council_id == council.id %>selected="selected"<% end %>>
                    <%= council.name %>
                  </option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="field is-grouped">
          <label class="radio">
            Search within:
          </label>
          <label class="radio">
            <input type="radio" name="mode" value="document" <% if mode == 'document' %>checked="checked"<% end %>>
            Raw Text
          </label>
          <label class="radio">
            <input type="radio" name="mode" value="classification" <% if mode == 'classification' %>checked="checked"<% end %>>
            OpenAI Summary
          </label>
        </div>
      </div>

      <div class="column is-narrow">
        <div class="field">
          <div class="control has-text-right">
            <button class="button is-primary" type="submit">Search</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
