<%= render "councils/partials/stats" %>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-8-desktop is-8-tablet">
        <%= render "councils/partials/meetings", items: @meetings %>
        <%= render "councils/partials/decisions", items: @decisions %>
      </div>

      <div class="column is-4-desktop is-4-tablet">
        <%= render "councils/partials/control", council: @council %>
      </div>
    </div>
  </div>
</div>
