<section>
  <div class="container">
    <div class="box mt-4">
      <h5 class="title is-size-4">Councils</h5>
      <% @councils.each do |council| %>
        <%= link_to council.name, council_path(council) %><br />
      <% end %>
    </div>
  </div>
</section>