<div class="margin-top-3">
  <% @feed_items.each do |item| %>
    <% if item[:kind] == 'meeting' %>
      <%= render :partial => 'home/partials/meeting', :object => item[:item] %>
    <% elsif item[:kind] == 'decision' %>
      <%= render :partial => 'home/partials/decision', :object => item[:item] %>
    <% end %>
  <% end %>
</div>>