<div class="feed-item decision">
    <div class="date">
        <strong><%= decision.date.strftime("%d/%m/%Y") %></strong>
    </div>
    <div class="left">
        <strong>Decision</strong>
    </div>
    <div class="right">
        <p><%= decision.topline %></p>
        <p><i><%= decision.decision_maker %></i></p>
        <a class="button primary small" href="/decisions/<%= decision.id %>">See more</a>
    </div>
</div>
