/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .topbar {
    background: #8EACCD;

    a {
        color: black !important;
    }
 }

 .filters {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px 0px;

    select {
       margin: 0px;
       margin-right: 10px;
    }

    input {
        margin: 0px;
    }

    form {
        width: 100%;
        display: flex;
        align-items: center;

        label {
            font-weight: bold;
            font-size: 14px;
            margin-right: 10px;
        }
    }
 }

 .feed {
    .label {
        margin-right: 5px;
    }
 }

.ellipsis {
    width: 24px; /* Set the width to 24px */
    height: 24px; /* Set the height to 24px */
    background-color: #98FB98; /* A pastel green color */
    border-radius: 50%; /* Make it a circle */
    margin-left: 10px; /* Margin to the left */
    display: inline-block; /* Allows the div to behave like an inline element */
}

.feed-item {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    margin: 10px 0;

    &.meeting {
        background: rgba(#F9F3CC, 0.45);
    }

    &.decision {
        background: rgba(215, 229, 202, 0.45);
    }

    p {
        color: rgb(70, 70, 70);
    }

    .see-more {
        font-weight: bold;
        display: block;
        margin-top: 10px;
        width: 100px !important;
        background: rgb(100, 100, 100) !important;
        margin-bottom: 0px !important;
    }

    .label {
        background: #8EACCD !important;
        color: white;

        > span {
            color: white;
        }
    }

    .tags {
        margin-top: 15px;

        .label {
            background: #8EACCD !important;
        }
    }

    .date {
        margin-right: 20px;
    }

    .left {
        flex: 0 0 auto;
        margin-right: 20px;
        font-size: 16px;
    }

    .right {
        flex: 1;
        display: flex;
        flex-direction: column;

        p, .tags {
            margin-bottom: 10px;
        }

        .button {
            display: inline-block;
        }

        .label {
            margin-right: 5px;
            display: inline-block;
            color: white;
        }

        .tags {
            display: flex;
            flex-wrap: wrap;
        }
    }
}

.sync-table {
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 5px;

  tr {
    height: 5px;
  }

  td, th {
    padding: 0;
  }

  .status {
    width: 5px;
    height: 5px;

    &.status-waiting {
        background: lightgray;
    }
    &.status-processing {
        background: yellow;
    }
    &.status-processed {
        background: green;
        &.classify {
            background: purple;
        }
    }
    &.status-error {
        background: red;
    }
  }
}
